[Unit]
Description=Python App Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/appserver
ExecStart=/usr/bin/python3 /home/ubuntu/appserver/app-tier.py
Restart=always

[Install]
WantedBy=multi-user.target
