[Unit]
Description=Python App Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/autoscaling-controller.py
Restart=always

[Install]
WantedBy=multi-user.target
